/* table {
  margin-top: 10px;
  margin-bottom: 100px;
} */

.checkout {
  text-align: center;
}

.purchase {
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  text-align: center;
}

.creditcard {
  background-color: white;
  padding: 11px;
  border-radius: 5px;
}

.center {
  text-align: center;
}
